{% extends "users/base.html" %}

{% block body %}

<div class="row d-flex flex-row justify-content-center align-items-center mt-5">
  <div class="col-md-4 ">
<h1>Register</h1>
{% if message %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endif %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
    <input type="submit" value="Register"/>
    
</form>

<br>
Already registered <a href="{% url 'index' %}">Login</a> instead
</div>
</div>

{% endblock %}